@using Microsoft.AspNetCore.Identity
@using AspNetCoreIdentityAspNetMembershipImplementation

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreMvcTest</title>

    <environment>
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/foundation/css/foundation.min.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/foundation/js/foundation.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <style>
        .menu a {
            color: lightgray;
        }

        .validation-summary-errors, .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="title-bar-left">
                <ul class="menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
            <div class="title-bar-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <ul class="menu align-right">
                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="Index" title="Admin">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="alert button">Log out</button>
                            </li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="menu align-right">
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - AspNetCoreMvcTest</p>
        </footer>
    </div>

    <script>
        $(function () {
            $(document).foundation();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
