@using AspNetCoreMvcTest.Models.Admin
@model IndexViewModel

<h1>Admin Index</h1>

<table class="table thead-light table-bordered">
    <thead>
        <tr>
            <th>UserId</th>
            <th>UserName</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @*string.Join(", ", user.Roles.OrderBy(c => c))*@
                    @foreach (var role in user.Roles.OrderBy(c => c))
                    {
                        <span class="badge badge-pill badge-light">@role&nbsp;<i class="fa fa-times text-danger"></i></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>