@using AspNetCoreMvcTest.Models.Admin
@model IndexViewModel

@{
    ViewBag.Title = "Admin Index";
}

<h1>Admin Index</h1>

<table class="hover stack">
    <thead>
        <tr>
            <th>UserId</th>
            <th>UserName</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @foreach (var role in user.Roles.OrderBy(c => c))
                    {
                        <span class="primary label">@role&nbsp;<a style="color: red;"><i class="fa fa-times-circle"></i></a></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>