@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Test Page</h1>

<div class="row">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item
            </li>
        }
    </ul>
</div>
